{{ hero }}
<div class="flex justify-center pt-24 pb-8 relative overflow-hidden rounded-b-3xl">

    <div class="body-container flex flex-col gap-12 z-20">

        <div class="grid grid-cols-2 lg:grid-cols-12 gap-4 items-end ">
            <h1 class="text-nile-blue-800 text-5xl lg:text-6xl col-span-2 lg:col-span-6" split animate>{{ header }}</h1>

            <div class="flex flex-col gap-6 lg:gap-8 col-span-2 lg:col-span-4 lg:col-start-9" slide-up data-delay="1">
                <div class="bard-large">{{ description }}</div>

                {{ partial:misc/button :data="action" }}
                <img src="/assets/arrow.svg" alt="arrow">
                {{ /partial:misc/button }}
            </div>
        </div>

    </div>
</div>
{{ /hero }}



{{ two_columns }}
<div class="flex justify-center py-14 lg:py-20" slide-up data-delay="0.5">

    <div class="body-container grid grid-cols-1 lg:grid-cols-2 gap-4">

        <img src="{{ image.url }}" alt="{{ image.alt }}" class="ukiyo min-h-[350px] rounded-2xl">

        <div class="flex flex-col justify-between gap-4 p-6 rounded-2xl bg-white min-h-[350px]">
            <p class=" text-sm text-nile-blue-800">{{ header }}</p>
            <div class="bard-large">{{ description }}</div>
        </div>

    </div>
</div>
{{ /two_columns }}


{{ partial:cards/left-image :data="cards_section" }}


{{ partial:text-blocks/quote :data="quote" }}


{{ certifications }}
<div class="flex justify-center py-14 lg:py-20 relative">
    <div class="body-container grid grid-cols-1 lg:grid-cols-12 gap-4 items-center">

        <div class="flex flex-col gap-6 lg:gap-8 col-span-1 lg:col-span-5">
            <p class="text-3xl lg:text-4xl text-nile-blue-800 leading-normal ">{{ header }}</p>

            <div class="bard-large">
                {{ description }}
            </div>
        </div>

        <div
            class="col-span-1 lg:col-span-5 lg:col-start-8 p-6 rounded-2xl bg-white min-h-[350px] border border-black/15 flex gap-6 flex-wrap items-center justify-center relative">
            <p class="text-sm text-black/50 absolute top-4 left-4">{{ helper_text }}</p>
            {{ certificate }}
            <a href="{{ link.url }}" target="_blank">
                <img src="{{ icon.url }}" alt="{{ icon.alt }}" class="size-40 object-cover" />
            </a>
            {{ /certificate }}
        </div>

    </div>
</div>
{{ /certifications }}


{{ contact_us }}

<div class="flex justify-center py-14 pb-20 lg:py-20 lg:pb-32 relative" id="contact_us">
    <div class="body-container grid grid-cols-1 lg:grid-cols-12 gap-4">

        <div class="flex flex-col gap-8 lg:gap-12 col-span-1 lg:col-span-5 justify-between">
            <div class="flex flex-col gap-4 lg:gap-6">
                <p class="text-4xl lg:text-6xl text-nile-blue-800 leading-normal ">{{ header }}</p>

                <div class="bard-large">
                    {{ description }}
                </div>
            </div>

            <div class="flex flex-col gap-2">
                {{ contacts }}
                <div class="px-3 py-2 flex gap-4 items-center bg-white rounded-2xl border border-black/15">
                    <div
                        class="size-10 rounded-full flex items-center justify-center bg-gradient-to-tr from-[#2D79B8] to-[#143652]">
                        <img src="{{ icon.url }}" alt="{{ icon.alt }}" class="size-5">
                    </div>

                    {{ if link }}
                    <a href="{{ link.url }}" class="text-xl text-nile-blue-800 leading-none hover:underline">{{ label
                        }}</a>
                    {{ else }}
                    <p class="text-xl text-nile-blue-800 leading-none">{{ label }}</p>
                    {{ /if }}
                </div>
                {{ /contacts }}
            </div>
        </div>

        <div
            class="col-span-1 lg:col-span-4 lg:col-start-9 p-6 bg-white rounded-2xl border border-black/15 shadow-2xl shadow-nile-blue-500/15">
            <form method="post" x-data="formHandler('{{ csrf_token }}','/!/forms/{{ contact_us_form.handle }}')"
                @submit.prevent="submitForm" class="space-y-4">
                <!-- Full Name -->

                <input type="text" name="honeypot" class="hidden" />
                <div>
                    <label for="full_name" class="block">Full Name</label>
                    <input type="text" id="full_name" x-model="form.full_name" class="w-full p-2 border rounded"
                        placeholder="Enter your full name" required />
                </div>

                <!-- Email -->
                <div>
                    <label for="email" class="block">Email</label>
                    <input type="email" id="email" x-model="form.email" class="w-full p-2 border rounded"
                        placeholder="Enter your email" required />
                </div>

                <!-- Phone Number -->
                <div>
                    <label for="phone_number" class="block">Phone Number</label>
                    <input x-mask="+999 99 9999 999" type="tel" id="phone_number" x-model="form.phone_number" class="w-full p-2 border rounded"
                        placeholder="Enter your phone number" required />
                </div>

                <!-- Message -->
                <div>
                    <label for="message" class="block ">Message</label>
                    <textarea id="message" x-model="form.message" class="w-full p-2 border rounded" rows="4"
                        placeholder="Enter your message" required></textarea>
                </div>

                <!-- Submit Button -->
                <button type="submit" class="w-full btn btn-primary justify-center" :disabled="isSubmitting">
                    <span x-show="!isSubmitting">Submit</span>
                    <span x-show="isSubmitting">Submitting...</span>
                </button>

                <!-- Submission Success Message -->
                <div x-show="submitted" class="mt-4 text-green-600 font-semibold">
                    Thank you! Your message has been sent.
                </div>
            </form>
        </div>

    </div>
</div>

<script type="text/javascript">
    function formHandler(token, endpoint) {
        return {
            form: {
                full_name: '',
                email: '',
                phone_number: '',
                message: '',
                _token: token
            },
            isSubmitting: false,
            submitted: false,
            async submitForm() {
                this.isSubmitting = true;
                this.submitted = false;

                // Example of sending data; adjust URL and data structure as necessary for your Statamic form endpoint
                const response = await fetch(endpoint, {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(this.form),
                });

                if (response.ok) {
                    this.submitted = true;
                    this.form = { name: '', email: '', phone: '', message: '' }; // Reset form
                } else {

                }

                this.isSubmitting = false;
            }
        }
    }
</script>

{{ /contact_us }}


{{ careers }}

<div class="flex justify-center py-14 lg:py-20 relative bg-gradient-to-tr from-[#08B86E] to-[#08834F] rounded-t-3xl overflow-hidden">
    <div class="body-container grid grid-cols-1 lg:grid-cols-12 gap-4 items-center relative">

        <img src="/assets/LogoShape.svg" alt="Decorative shape" class="absolute h-[400px] lg:h-full bottom-0 lg:-right-20 opacity-5 mix-blend-multiply">

        <div class="flex flex-col gap-8 lg:gap-12 col-span-1 lg:col-span-5 justify-between dark z-20">
            <div class="flex flex-col gap-4 lg:gap-6">
                <p class="text-4xl lg:text-6xl text-white leading-normal ">{{ header }}</p>

                <div class="bard-large !text-white">
                    {{ description }}
                </div>
            </div>

            <div class="flex flex-col gap-8">
                {{ advantages }}
                <div class="flex flex-col gap-3 lg:gap-4">
                    <p class="text-3xl lg:text-4xl text-white leading-normal ">{{ header }}</p>

                    <div class="bard !text-white">
                        {{ description }}
                    </div>
                </div>
                {{ /advantages }}
            </div>
        </div>


        <div class="col-span-1 lg:col-span-4 lg:col-start-9 p-6 bg-white rounded-2xl border border-black/15 shadow-2xl shadow-nile-blue-500/15 z-20">
            <form method="post" x-data="formCareersHandler('/!/forms/{{ careers_form.handle }}')"
                @submit.prevent="submitForm" class="space-y-4" enctype="multipart/form-data">
                <!-- Full Name -->
                <input type="text" name="_token" value="{{ csrf_token }}" class="hidden" />
                <input type="text" name="honeypot" class="hidden" />
                <div>
                    <label for="full_name" class="block">Full Name</label>
                    <input type="text" name="full_name" id="full_name" class="w-full p-2 border rounded"
                        placeholder="Enter your full name" required />
                </div>

                <!-- Email -->
                <div>
                    <label for="email" class="block">Email</label>
                    <input type="email" name="email" id="email" class="w-full p-2 border rounded" placeholder="Enter your email"
                        required />
                </div>

                <!-- Cover letter -->
                <div>
                    <label for="cover_letter" class="block">Cover letter</label>
                    <input type="file" name="cover_letter" id="cover_letter" class="w-full border rounded file:py-2 file:px-4 file:border-none file:bg-nile-blue-500 file:text-base file:text-white" required />
                </div>

                <!-- CV -->
                <div>
                    <label for="cv" class="block">CV</label>
                    <input type="file" name="cv" id="cv" class="w-full border rounded file:py-2 file:px-4 file:border-none file:bg-nile-blue-500 file:text-base file:text-white" required />
                </div>

                <!-- Message -->
                <div>
                    <label for="message" class="block ">Message</label>
                    <textarea id="message" name="message" class="w-full p-2 border rounded" rows="4" placeholder="Enter your message" required></textarea>
                </div>

                <!-- Submit Button -->
                <button type="submit" class="w-full btn btn-primary justify-center" :disabled="isSubmitting">
                    <span x-show="!isSubmitting">Submit</span>
                    <span x-show="isSubmitting">Submitting...</span>
                </button>

                <!-- Submission Success Message -->
                <div x-show="submitted" class="mt-4 text-green-600 font-semibold">
                    Thank you! Your message has been sent.
                </div>
            </form>
        </div>

    </div>
</div>

<script type="text/javascript">
    function formCareersHandler(endpoint) {
        return {
            isSubmitting: false,
            submitted: false,
            async submitForm() {
                this.isSubmitting = true;
                this.submitted = false;

                // Automatically gather all form data using this.$root
                const formData = new FormData(this.$root);

                // Example of sending data
                try {
                    const response = await fetch(endpoint, {
                        method: 'POST',
                        body: formData
                    });

                    if (response.ok) {
                        this.submitted = true;
                        this.$root.reset(); // Reset form inputs, including file inputs
                    } else {
                        const errorText = await response.text();
                        console.error('Error:', errorText);
                    }
                } catch (error) {
                    console.error('Submission failed:', error);
                } finally {
                    this.isSubmitting = false;
                }
            }
        }
    }
</script>

{{ /careers }}
