
{{ partial:heros/home-hero :data="hero" }}

<div class=" h-0 lg:h-16"></div>

{{ partial:text-blocks/two-cols :data="two_cols_text" }}


<div class="flex justify-center py-14 lg:py-20">
    <div class="body-container">
        <div class="min-h-[300px] rounded-2xl w-full overflow-hidden relative">
            <img src={{ full_image.image.url }} alt="{{ full_image.image.alt }}" class="ukiyo w-full h-full absolute top-0 left-0 object-cover">
        </div>
    </div>
</div>

{{ partial:text-blocks/quote :data="quote_block" }}


{{ partial:cards/left-image-2 :data="image_left_with_text_on_right" }}


{{ partial:ctas/block :data="cta" }}

{{ partial:services_modal }}