<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {{ alt_seo:meta }}

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/lenis@1.1.14/dist/lenis.css">
        {{ vite src="resources/js/site.js|resources/css/site.css" }}

        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/mask@3.x.x/dist/cdn.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    </head>
    <body class="bg-nile-blue-50">
        <div class="flex flex-col relative hidden" x-data x-init="$el.classList.remove('hidden')">
            <div x-data x-init="$nextTick(() => window.scrollTo(0, 0))"></div>
            {{ partial:nav/header }}

            {{ template_content }}

            {{ partial:nav/footer }}

            {{ partial:contact_us_modal }}
        </div>

        {{ AltCookies:Toast }}

        <script src="https://cdn.jsdelivr.net/npm/ukiyojs@4.1.2/dist/ukiyo.min.js"></script>
        <script src="https://unpkg.com/lenis@1.1.14/dist/lenis.min.js"></script> 
        <script>  
            new Ukiyo(".ukiyo",{
                scale: 1.2,
                speed: 1.2, 
            })

            // Initialize Lenis
            const lenis = new Lenis();

            // Use requestAnimationFrame to continuously update the scroll
            function raf(time) {
                lenis.raf(time);
                requestAnimationFrame(raf);
            }

            requestAnimationFrame(raf);

            if ('scrollRestoration' in history) {
                history.scrollRestoration = 'manual';
            }

        </script>
    </body>
</html>
