{{ partial:heros/general-hero :data="hero" }}

{{ if two_cols_text.header }}
    {{ partial:text-blocks/two-cols :data="two_cols_text" }}
{{ /if }}

{{ if quote.text }}
    {{ partial:text-blocks/quote :data="quote" }}
{{ /if }}

{{ if full_image.image }}
    <div class="flex justify-center py-14 lg:py-20">
        <div class="body-container">
            <div class="min-h-[300px] rounded-2xl w-full overflow-hidden relative">
                <img src={{ full_image.image.url }} alt="{{ full_image.image.alt }}" class="ukiyo w-full h-full absolute top-0 left-0 object-cover">
            </div>
        </div>
    </div>
{{ /if }}

{{ if ( (centered_cards.cards | length) > 3 ) }}
    {{ partial:cards/cards-center :data="centered_cards" fitheight="true" }}
{{ else }}
    {{ partial:cards/left-image :data="centered_cards" }}
{{ /if }}


{{ partial:ctas/block :data="cta" }}