<div x-data="{ isOpen: false }"
    x-init="
        // Check URL hash on page load
        isOpen = window.location.hash === '#services-modal';
        // Listen to hash changes
        window.addEventListener('hashchange', () => {
            isOpen = window.location.hash === '#services-modal';
        });
    "
    x-show="isOpen" 
    x-cloak
    class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
    <!-- Modal Content -->
    <div x-show="isOpen" x-transition x-data="{isHovered:false}"
    class="bg-white relative overflow-hidden rounded shadow-lg max-h-screen max-w-full lg:max-w-lg xl:max-w-5xl w-full flex flex-col lg:grid grid-cols-2" @click.away="isOpen = false; window.location.hash = ''">
        <button class="absolute top-6 right-6 z-50 btn bg-white" @click="isOpen = false; window.location.hash = ''">Close</button>
        {{ services_modal.items }}
            <div :class="isHovered && 'saturate-0 opacity-75'" class="flex flex-col relative group h-full hover:!saturate-100 hover:!opacity-100 duration-300" @mouseenter="isHovered=true" @mouseleave="isHovered=false">
                <a href="{{ action.link.url }}" class=" absolute left-0 top-0 w-full h-full z-20 hidden lg:flex"></a>
                <img src="{{ image.url }}" alt="{{ image.alt }}" class=" object-cover min-h-[150px] lg:min-h-[500px]">
                <div class="flex flex-col gap-2 lg:gap-4 p-4 group-hover:bg-nile-blue-100 duration-300 flex-1">
                    <p class="text-base lg:text-xl text-nile-blue-800">{{ headline }}</p>
                    <div class="text-sm lg:text-base bard">{{ description }}</div>
                    <div class="mt-3">
                        {{ partial:misc/button :data="action" }}
                            <img src="/assets/arrow.svg" alt="arrow">
                        {{ /partial:misc/button }}
                    </div>
                </div>
            </div>
        {{ /services_modal.items }}
        
    </div>
</div>
