<div class="flex flex-col gap-12 items-center justify-center py-14 lg:py-20">
    <div class="body-container grid grid-cols-2 lg:grid-cols-12 gap-4">

        <div class="flex flex-col gap-12 col-span-2 lg:col-span-8 lg:col-start-3">
            <div class="flex flex-col gap-6 lg:gap-8">
                <p class="text-3xl lg:text-4xl text-nile-blue-800 leading-normal lg:text-center">{{ data.header }}</p>

                <div class="bard-large lg:text-center">
                    {{ data.description }}
                </div>
            </div>
        </div>

    </div>

    <div class="body-container grid grid-cols-1 lg:grid-cols-3 gap-4">

        {{ foreach:data.cards }}
            {{ partial:cards/card-base :data="value"}}
        {{ /foreach:data.cards }}

    </div>
</div>