---
fitheight: false
---

<div class="flex flex-col gap-12 items-center justify-center py-14 lg:py-20" x-data="{ shown: false }" x-intersect.half="shown = true">
    <div 
    class="body-container grid grid-cols-2 lg:grid-cols-12 gap-4">

        <p class="text-3xl lg:text-4xl text-nile-blue-800 col-span-2 lg:col-span-6 leading-normal"  slide-up data-delay="0">{{ header }}</p>

        <div class="flex flex-col gap-6 lg:gap-8 col-span-2 lg:col-span-4 lg:col-start-9 " slide-up data-delay="0.2">
            <div class="bard-large" >
                {{ description }}
            </div>

            {{ if action.text }}
                {{ partial:misc/button :data="action" }}
                    <img src="/assets/arrow.svg" alt="arrow">
                {{ /partial:misc/button }}
            {{ /if }}
        </div>

    </div>

    <div 
    class="body-container grid grid-cols-1 lg:grid-cols-3 gap-4">

        {{ foreach:cards }}
            {{ partial:cards/card-base :data="value" :fitheight="view.fitheight" }}
        {{ /foreach:cards }}

    </div>
</div>