<div class="flex flex-col gap-12 items-center justify-center py-14 lg:py-20" x-data="{ shown: false }" x-intersect.half="shown = true">
    <div 
    class="body-container grid grid-cols-2 lg:grid-cols-12 gap-4">

        <p class="text-3xl lg:text-4xl text-nile-blue-800 col-span-2 lg:col-span-6 leading-normal"  slide-up data-delay="0">{{ data.header }}</p>

        <div class="col-span-2 lg:col-span-4 lg:col-start-9 bard-large"  slide-up data-delay="0.2">
            {{ data.description }}
        </div>

    </div>

    <div 
    class="body-container grid grid-cols-1 lg:grid-cols-3 gap-4">

        {{ foreach:data.cards }}
            {{ partial:cards/card-base :data="value"}}
        {{ /foreach:data.cards }}

    </div>
</div>