<div class="flex justify-center py-14 lg:py-20">
    <div class="body-container grid grid-cols-2 lg:grid-cols-12 gap-4" x-data="{ shown: false }" x-intersect.half="shown = true">

        <p x-show="shown"
        x-transition:enter="transition ease-out duration-1000"
        x-transition:enter-start="opacity-0 translate-y-12"
        x-transition:enter-end="opacity-100 translate-y-0"
        class="text-3xl lg:text-4xl text-nile-blue-800 col-span-2 lg:col-span-6 leading-normal">{{ data.header }}</p>

        <div 
        x-show="shown"
        x-transition:enter="transition ease-out duration-1000 delay-200"
        x-transition:enter-start="opacity-0 translate-y-12"
        x-transition:enter-end="opacity-100 translate-y-0"
        class="col-span-2 lg:col-span-4 lg:col-start-9 bard-large">
            {{ data.description }}
        </div>

    </div>
</div>