<div class="flex justify-center py-16 relative overflow-hidden rounded-b-3xl" data-dark-hero>

    <!-- Original background image -->
    {{ if data.use_a_video_for_background }}
        <video autoplay muted loop playsinline class="absolute left-0 top-0 w-full h-full object-cover" poster="{{ data.video.preview.url }}" style="object-position: {{ data.image.focus_css }};">
            <source src="{{ data.video.webm.url }}" type="video/webm">
            <source src="{{ data.video.mp4.url }}" type="video/mp4">
        </video>

        <video autoplay muted loop playsinline class="absolute left-0 top-0 w-full h-full object-cover blur-lg " poster="{{ data.video.preview.url }}" style="clip-path: url(#hero_clip_path); object-position: {{ data.image.focus_css }};">
            <source src="{{ data.video.webm.url }}" type="video/webm">
            <source src="{{ data.video.mp4.url }}" type="video/mp4">
        </video>
    {{ else }}
        <img src="{{ data.image.url }}" alt="bg-image" class="absolute left-0 top-0 w-full h-full object-cover" style="object-position: {{ data.image.focus_css }};">
        
        <!-- Blurred image with clip path applied -->
        <img src="{{ data.image.url }}" alt="bg-blured-image" class="absolute left-0 top-0 w-full h-full object-cover blur-xl" style="clip-path: url(#hero_clip_path); object-position: {{ data.image.focus_css }};">
    {{ /if }}

    <!-- SVG defining the clip path, anchored to the right -->
    <svg width="100%" height="100%" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute right-0 top-0 h-full">
        <clipPath id="hero_clip_path" style="transform: translateX(60%);">
            <path d="M435 0C431.686 0 429 2.68629 429 6V214.5C429 332.912 332.912 429 214.5 429H6C2.6863 429 0 431.686 0 435V852C0 855.314 2.68629 858 6 858H423C426.314 858 429 855.314 429 852V643.5C429 525.088 525.088 429 643.5 429H852C855.314 429 858 426.314 858 423V5.99999C858 2.68628 855.314 0 852 0H435ZM214.5 819.662C117.441 819.662 38.3382 740.559 38.3382 643.5C38.3382 546.441 117.441 467.338 214.5 467.338C311.559 467.338 390.662 546.441 390.662 643.5C390.662 740.559 311.559 819.662 214.5 819.662ZM643.5 390.662C546.441 390.662 467.338 311.559 467.338 214.5C467.338 117.441 546.441 38.3383 643.5 38.3383C740.559 38.3383 819.662 117.441 819.662 214.5C819.662 311.559 740.559 390.662 643.5 390.662Z" fill="black"/>
        </clipPath>
    </svg>
    <div class=" bg-black opacity-30 absolute left-0 top-0 w-full h-full"></div>
    <div class=" bg-gradient-to-t from-black via-black/25 to-transparent absolute left-0 top-0 w-full h-full"></div>

    <div class="body-container min-h-[650px] lg:min-h-[750px] py-8 lg:py-16 flex flex-col justify-end lg:grid grid-cols-2 lg:grid-cols-12 gap-4 items-end z-20">
        <h1 class="text-white text-5xl lg:text-7xl col-span-2 lg:col-span-6" split animate>{{ data.header }}</h1>

        <div class="flex flex-col gap-6 lg:gap-8 col-span-2 lg:col-span-4 lg:col-start-9" slide-up data-delay="0.3">
            <div class="dark bard-large">{{ data.description }}</div>

            {{ partial:misc/button :data="data.action" }}
                <img src="/assets/arrow.svg" alt="arrow">
            {{ /partial:misc/button }}
        </div>
    </div>
</div>